@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header, footer {
  background-color: #A41623;
  text-align: center;
	color: white;
}

body {
  color: black;
   font-family: 'Poppins', sans-serif;
}