@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header {
    background-color: #A41623;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

header div section {
    display: flex;
    flex-direction: column;
}

header div section h1 {
    margin: 0;
}

header div section h2 {
    font-size: .75em;
    margin: 0;
}

header div picture img {
    width: 50px;
}

#todaysDate {
    display: block;
}

p {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #37423D;
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 1em;
    color: #fff;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background: rgba(0,0,0,0.3);
}

header span {
    background-color: #37423D;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 1rem;
    text-align: center;
    margin: .5rem;
}

main {
    display: flex;
    flex-direction: column;
}

main div {
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
}

main div:nth-child(2) {
    order: -3;
}

main div:nth-child(5), main div:nth-child(6) div:nth-child(3){
    display: none;
}

main div:nth-child(6) p {
    border: 1px solid;
    margin: 0;
    padding: 1rem;
}

footer {
    background-color: #A41623;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}