@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header {
    background-color: #A41623;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

header div section {
    display: flex;
    flex-direction: column;
}

header div section h1 {
    margin: 0;
}

header div section h2 {
    font-size: .75em;
    margin: 0;
}

header div picture img {
    width: 50px;
}

#todaysDate {
    display: block;
}

p {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #37423D;
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 1em;
    color: #fff;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background: rgba(0,0,0,0.3);
}

header span {
    background-color: #37423D;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 1rem;
    text-align: center;
    margin: .5rem;
}

main {
    display: flex;
    flex-direction: column;
}

main div {
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
}

main div:nth-child(2) {
    order: -3;
}

main div:nth-child(5), main div:nth-child(6) div:nth-child(3){
    display: none;
}

main div:nth-child(6) {
    text-align: center;
}

main div:nth-child(6) p {
    margin: 0;
    padding: 1rem;
}

main div button {
    background-color: #37423D;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    border: none;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, .3);
}

main div button:hover {
    padding: 1.5em;
}

main div:nth-child(7) {
    order: -4;
    display: none;
}

.discover-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

footer {
    background-color: #A41623;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

.join-grid {
    padding: 0 2%;
    min-height: 20rem;
    font-family: 'Montserrat', sans-serif;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #37423D;
    border-radius: 15px;
    padding: .5rem 2%;
    width: 96%;
}

form legend {
    color: #37423D;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

form label {
    display: block;
    padding-top: 2rem;
    font-size: 1.2rem;
    max-width: 30rem;
}

form input.submitBtn {
    border: 1px solid #37423D;
    background-color: #9EB7E5;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: .75rem 2.5rem;
    margin: 2rem 2rem;
    width: 96%;
    max-width: 20rem;
}

form label input {
    display: block;
    border-radius: 5px;
    padding: .75rem;
    max-width: 20rem;
    width: 80%;
}

form .field-3 div:nth-child(7) {
    display: block;
}

form .field-3 input {
    display: inline;
    margin: 0;
    width: 10%;
}

form label input:required {
    border-left: red solid 6px;
}

form label input:required:valid {
    border-left: green solid 6px;
}