@media screen and (min-width: 32.5em) {
    main div:nth-child(4) {
        order: -2;
    }

    main div:nth-child(6) {
        order: -1;
        display: flex;
        justify-content: space-around;
    }

    main div:nth-child(6) p {
        flex-grow: 1;
        margin: .5rem;
        order: 0;
    }

    main div:nth-child(5) {
        display: block;
        order: 1;
    }

    main div:nth-child(1) {
        order: 2;
    }

    main div:nth-child(3) {
        order: 3;
    }
    
    .discover-image img:hover {
        box-shadow: 0 0 50px #333;
    }

    footer {
        display: block;
    }
}