@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 32em;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

/* HEADER */

header {
    display: grid;
    background-color: #b5dda4;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

header img {
    margin: 1em;
    border-radius: 15px;
}

header h1 {
    grid-column: 2/5;
}

main .page-header {
    font-size: 3rem;
    text-align: center;
}

nav {
    background-color: #fed0bb;
    border: 1px solid;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 2em;
    color:#000;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid;
}

nav ul li a:hover {
    background: rgba(0,0,0,0.3)
}

nav span {
    display: block;
    padding: .5rem;
    text-align: center;
    margin: .5rem;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

/* MAIN BODY */

main div {
    border: 1px solid;
    margin: 1em;
}

#banner {
    border: none;
    width: 100%;
}

#action {
    text-align: center;
    position: relative;
    width: 350px;
    border: none;
}

#action img{
    width: 100%;
}

#action h2 {
    font-size: 1em;
    background-color: #fed0bb;
    padding: .2em;
    position: absolute;
    top: .1px;
    left: 20px;
}

#action button {
    line-height: 2em;
    width: 10em;
    background-color: #ceeddb;
    font-size: 1.2em;
    position: absolute;
    bottom: 16px;
    right: 5px
}

#temple-info {
    padding: 1em;
}

#temple-info h2 {
    text-align: center;
}

#temple-info img {
    display: block;
    margin: 0 auto;
}

#temple-page {
    display: block;
}

.cards {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em;
    padding: 1em;
}

.cards section {
    background-color: #fed0bb;
}

.cards section img {
    max-width: 90%;
    margin: 1em;
}

#reservations-page {
    display: block;
    margin: 0 auto;
}

#reservations-page div {
    border: none;
}

#reservations-page fieldset {
    border-radius: 1em;
}

#reservations-page fieldset legend {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

#reservations-page label {
    display: block;
    margin: 1em;
    font-size: 1.3rem;
    width: 20rem;
}

#reservations-page fieldset:nth-child(3) div {
    font-size: 1.3rem;
}

#reservations-page fieldset:nth-child(3) label input{
    width: 2em;
}

#reservations-page label input {
    line-height: 3rem;
    width: 100%;
    font-size: 1.5rem;
}

#reservations-page form input.submitBtn {
    background-color: #fed0bb;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: .75rem 2.5rem;
    margin: 2rem;
}

form label input:required {
    border-left: red solid 6px;
}

form label input:required:valid {
    border-left: green solid 6px;
}

#services-page {
    display: block;
}

#services-page #services-grid {
    display: grid;
}

#services-page #services-grid nav {
    grid-row: 1/2;
}

#services-page #services-grid .item-1 {
    grid-row: 2/3;
}

#services-page #services-grid .image-1 {
    grid-row: 3/4;
}

#services-page #services-grid .item-2 {
    grid-row: 4/5;
}

#services-page #services-grid .image-2 {
    grid-row: 5/6;
}

#services-page #services-grid img, #reception-page div img {
    display: block;
    margin: auto;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, .3);
}

#services-page h2 {
    text-align: center;
}

#services-page nav {
    border: none;
}

#services-page #secondaryNav {
    display: block;
    text-align: center;
}

#services-page #secondaryNav li a {
    border: none;
    border-bottom: black solid 1px;
}

#services-page div div {
    border: none;
}

#reception-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    background-color: #ceeddb;
    padding: 1em 2em;
}

#reception-page div {
    border: none;
    width: 100%;
}

#reception-page div h2 {
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #b5dda4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
}

