@media screen and (min-width: 64em) {
    /* HEADER */
    body {
        max-width: 98%
    }

    h1 {
        grid-row: 1/2;
    }

    nav {
        line-height: 3em;
        text-align: center;
        font-size: 1.2em;
        grid-column: 4/6;
        grid-row: 1/2;
        border: none;
        margin-right: 1em;
    }


    nav ul {
        display: block;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
        margin: 0;
    }

    nav button {
        display: none;
    }

    nav ul li a {
        border: none;
    }

    /* MAIN */
    #banner {
        margin: 0 auto;
    }

    #action {
        grid-row: 2/3;
    }

    #action button {
        bottom: 45px;
    }

    #weather-info {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    #temple-info {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    #temple-info h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #temple-info #addy {
        display: block;
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: center;
    }

    #temple-info p {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #temple-info img {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #temple-info #openhouse {
        font-weight: bold;
        display: block;
        background-color: #ceeddb;
        grid-column: 1/3;
        grid-row: 4/5;
        text-align: center;
        font-size: 2em;
        padding: 1.5em;
    }

    #services-page #services-grid nav {
        margin: 0;
    }

    #services-page #secondaryNav {
        display: block;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
        margin: 0;
    }

    /* FOOTER */

}